@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div>   
    <h1>Fletchers Book Store</h1>


    @foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>
        <ul>
            <li>Book Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.ISBN</li>
            <li>Classification: @b.Classification</li>
            <li>Category: @b.Category</li>
            <li>Page Count: @b.PageCount</li>
            <li>Price: @b.Price.ToString("C")</li> <!-- Assuming you want to format the price as currency -->
        </ul>
    }   
</div>
<div page-model="@Model.PaginationInfo" page-action="Index">
    
</div>